<!--index.wxml-->
<wxs module="filters" src="../../../app.wxs"></wxs>
<!-- <NavComponent v-title="表白墙" bind:commonNavAttr="commonNavAttr" bgColor="zudui" confess="true"></NavComponent> -->
<share show="{{show}}"  showActionsheet="{{show}}" sharData="{{sharData}}"></share>
<delete show="{{show1}}" showActionsheet="{{show1}}" deleteData="{{deleteData}}"  bindlistChange="listChange"></delete>
<view class="container">
    <view>
        <view style="">
            <!-- <view class="titleWrapper">
                <view class="titleContent">

                </view>
            </view> -->
            <view wx:if="{{teamData.pages==0&&list.length==0}}" style="font-size:24rpx; background:#fff; color:#666; line-height:90rpx;text-align:center">
              暂无更多数据
            </view>
            <view class="listWrapper1" wx:for="{{list}}" wx:key="unique"
              bindtouchstart="bindTouchStart" bindtouchend="bindTouchEnd" bindlongtap="bingLongTap" bindtap="goConfessIonDe"
        data-txt="{{item.contentText}}" data-confessId="{{item.confessId}}" data-bizFileType="{{item.releaseFiles[0].bizFileType}}" data-radio="{{item.releaseFiles[0].width/item.releaseFiles[0].height}}">

                <view class="infoUser" catchtap="goUserDetail" data-userId="{{item.userId}}" data-deleteFlag="{{item.deleteFlag}}">
                    <view class="infoUserTop">
                        <image  mode="aspectFill" src="{{item.userAvatarUrl}}"/>
                        <view class="commentTime">
                            <view class="{{item.vip?'commentName commentNameVip':'commentName'}}">
                                {{item.userNickName}}
                                <image wx:if="{{item.gender==1}}"class="sex" src="../../images/male.png"></image>
                                <image wx:if="{{item.gender==2}}"class="sex" src="../../images/fmale.png"></image>
                            </view>
                            <view class="commentSchool"> {{item.releaseTime}}</view>
                        </view>
                        </view>
                        <view  class="deleteBtn" catchtap="delete" wx:if="{{!item.deleteFlag}}"
                              data-type="2" data-id="{{item.confessId}}" data-deleteFlag="{{item.deleteFlag}}">
                        ...
                        </view>
                    </view>
              
                <view class="listCont">
                    <view class="toName">
                        <view>To</view>
                        <view>：</view>
                        <view class="userInfW">
                         <view class="userInfWName">{{item.toUserName}}</view>
                          <view class="userInfWSc" wx:if="{{item.toUserClass}}">（{{item.toUserClass}}）</view>
                        </view>
                    </view>
                    <view class="toContent">{{item.contentText}}</view>

                    <view class="img_wrapper" style="margin-top: 20rpx;" wx:if="{{item.releaseFiles.length>1}}">
                        <image wx:for="{{item.releaseFiles}}" src="{{filters.getImageUrl(good.fileRelativePath)}}" wx:for-item ="good" wx:key="unique"
                               catchtap="lookImg"  data-src="{{good.fileRelativePath}}" data-imgs="{{item.releaseFiles}}"  class="image" mode="aspectFill"
                               lazy-load="true"
                               class="{{item.releaseFiles.length==1?'care_picture1':item.releaseFiles.length==2?'care_picture2':item.releaseFiles.length==3?'care_picture3':item.releaseFiles.length==4?'care_picture4':'care_picture'}}"/>
                    </view>
                    <view wx:if="{{item.releaseFiles.length==1&&item.releaseFiles[0].bizFileType==1}}"   catchtap="lookImg"  data-src="{{good.fileRelativePath}}" data-imgs="{{item.releaseFiles}}"
                      class="img_wrapper" style="margin-top: 20rpx;width:460rpx;">
                    <image mode='aspectFill' wx:for="{{item.releaseFiles}}" wx:for-item ="good"  src="{{filters.getImageUrl(good.fileRelativePath)}}" wx:key="unique"  style="width:350rpx; height:{{350/good.radio}}rpx; max-height:430rpx"/>
                </view>
                <view wx:if="{{item.releaseFiles.length==1&&item.releaseFiles[0].bizFileType==2&&item.releaseFiles[0].width<item.releaseFiles[0].height}}"    class="img_wrapper" style="margin-top: 20rpx; position: relative; width: 350rpx">
                    <image mode='aspectFill ' wx:for="{{item.releaseFiles}}" wx:for-item ="good"  src="{{filters.getImageUrl(good.coverRelativePath)}}" wx:key="unique"  style="width:350rpx; height:{{350/good.radio}}rpx;max-height:530rpx"  />
                  
                    <image class="playBtnImg" src="../../../images/nav/playBtn.png"/>
                </view>
                <view wx:if="{{item.releaseFiles.length==1&&item.releaseFiles[0].bizFileType==2&&item.releaseFiles[0].width>=item.releaseFiles[0].height}}"    class="img_wrapper" style="margin-top: 20rpx; position: relative; width:702rpx">
                    <image mode='aspectFill ' wx:for="{{item.releaseFiles}}" wx:for-item ="good"  src="{{filters.getImageUrl(good.coverRelativePath)}}" wx:key="unique"  style="width:702rpx; height:{{702/good.radio}}rpx;"  />
                  
                    <image class="playBtnImg" src="../../../images/nav/playBtn.png"/>
                </view>
          
                </view>
                <view class="dianping">
                    <view catchtap="zan"  data-type="2" data-item="{{item}}" style="height:80rpx">
                        <image wx:if="{{!item.likeFlag}}" src="../../../images/love.png"/>
                        <image wx:if="{{item.likeFlag}}" src="../../../images/loved.png"/>
                        <view class="zhufu" wx:if="{{item.likes>0}}">{{item.likes}}人祝福</view>
                        <view class="zhufu" wx:if="{{item.likes==0}}">送上祝福</view>
                    </view>
                    <view class="rightCn">
                        <view class="firstCo">
                            <image src="../../../images/mess.png"/>
                            <view>{{item.reviews}}</view>
                        </view>
                        <view catchtap="share" data-item="{{item}}" style="padding-left: 30rpx; height:80rpx">
                            <image src="../../../images/collection.png"/>
                        </view>
                    </view>
                </view>
            </view>
        </view>
        <view class="loadMore" wx:if="{{teamData.pages}}"
              style="justify-content: center;border-top: 0">
               <view class="sp sp-circle" wx:if="{{params.pageNum<=teamData.pages&&loading}}"></view>
              <view wx:if="{{params.pageNum==teamData.pages&&!loading}}">已加载全部</view>
        </view>
    </view>
    <view style="width:90rpx;height:90rpx; position:fixed; right:20rpx; bottom:100rpx" catchtap="send">
       <image style="width:90rpx;height:90rpx;" src="../../../images/home/addB.png"/>
    </view>
    <view wx:if="{{showLoading}}" class="sp sp-circle"></view>
</view>
