.proInfo {
    height: 98rpx;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0 20rpx;
    border-bottom: 2rpx solid #eee;
    }
.proInfo view:first-child {
    width: 160rpx;
    
    }
        