.container {
  background-color: #e7eaef;
  min-height: 100%;
  padding-bottom: 110rpx;
}
.swiper-container{
width: 710rpx;
margin: 0 auto;
border-radius: 20rpx;
overflow: hidden;
height:278rpx; position:absolute; top:0; left:20rpx;
}
.hotBig{
width: 74rpx;
height: 38rpx;
position: absolute;
left: 20rpx;
top: 26rpx;

}
.hotMask{
  width: 750rpx;
  height: 90rpx;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10
}
.swiper_box {
  width: 100%;
height: 90rpx;
border-bottom: 6rpx solid #eee;
}
swiper-item image {
  width: 100%;
  display: inline-block;
  overflow: hidden;
  height:140rpx;
  border-radius: 20rpx;

}
.infoUserTop{
  display: flex;
}
.infoUser {
isplay: flex;
width: 100%;
justify-content: space-between;

}

.swiper-container .dots{
  position: absolute;
  left: 16rpx;
  right: 0;
  bottom: 18rpx;
  display: flex;
  justify-content: flex-start;
}
.swiper-container .dots .dot{
  margin: 0 8rpx;
  width: 20rpx;
  height: 4rpx;
  background: #d6d4e4;
  transition: all .6s;
  opacity: 1;
}
.swiper-container .dots .current{
  background:#029bdf ;
}

.indexList{
  display: flex;
  flex-direction: column;
  margin-bottom: 50rpx;
}
.submitUser{
  display: flex;
  align-items: center;
}
.avtar{
  width: 80rpx;
  height: 80rpx;
  border-radius: 80rpx;
}
.submitInf{
  display: flex;
  flex-direction: column;
}
.avtar{
  margin-right: 10rpx;
}
.userName{
  display: flex;
  align-items: center;

}
.userName .name{
  font-size: 28rpx;
  color: #666;
}
.submitTime {
  font-size: 24rpx;
  color: #999;
}
.submitTxt{
  color: #333;
  font-size: 32rpx;
  padding:14rpx 0;
}
.listWrapper{
  padding: 20rpx;
  background: #fff;
  margin-bottom: 20rpx;
  margin-top: 20rpx;
}
image{
  display: block;
}
.all image{
  border-radius: 4rpx;
  width: 100%;
}
.allTwo,.allThree,.all
{
  width: 700rpx;
  margin: 0 auto;
  display: flex;
  box-sizing: border-box;
}
.allTwo{
  display: flex;
  justify-content: space-between;
}
.allTwo image{
  width: 346rpx;
  height: 346rpx;
  border-radius: 4rpx;
}
.allThree,.allFour,.allFive,.allSix{
  width: 700rpx;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.allFive{
  display: flex;
  flex-direction: column;
}
.allSix{
  flex-wrap: wrap;
}
.allThree image,.allSix image{
  width: 228rpx;
  height: 228rpx;
  border-radius: 8rpx;
}

.allThree .allThreeFirst image{
  width: 100%;
  height: 100%;
}
.allFour{
  display: flex;
  flex-wrap: wrap;
}
.allFour image{
  width: 346rpx;
  height: 346rpx;
  border-radius: 4rpx;
}
.allFour image:nth-child(1),.allFour image:nth-child(2){
  margin-bottom: 8rpx;
}

.allFiveRight,.allSixRight,.allSixFirst{
  width: 700rpx;
  display: flex;
  justify-content: space-between;
}
.allFiveFirst{
  width: 700rpx;
  display: flex;
  justify-content: space-between;
}
.allFiveFirst image{
  width: 346rpx;
  height: 346rpx;
  border-radius: 4rpx;
}
.allFiveFirst {
  margin-bottom: 8rpx;
}
.allSixFirst {
  flex-wrap: wrap;
}
.allSixRight{
  justify-content: flex-start;
  margin-top: 8rpx;
}
.allFiveRight image,.allSixFirst image,.allSixRight image{
  width: 228rpx;
  height: 228rpx;
  border-radius: 4rpx;
}
.allSixRight image:nth-child(2){
  margin-left: 8rpx;
}
.allSix image:nth-child(1),.allSix image:nth-child(2),
.allSix image:nth-child(3),.allSixFirst image:nth-child(1),.allSixFirst image:nth-child(2),
.allSixFirst image:nth-child(3){
  margin-bottom: 8rpx;
}

.allSix image:nth-child(7),.allSix image:nth-child(8),.allSix image:nth-child(9){
  margin-top: 8rpx;
}




.nav {
  height: 80rpx;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  line-height: 80rpx;
  background: #f7f7f7;
  font-size: 16px;
  white-space: nowrap;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}
.nav-item {
  width: 20%;
  display: inline-block;
  text-align: center;
}
.nav-item.active{
  color: red;
}


.title-scroll-view{
  overflow:hidden;
  white-space:nowrap;
}
.sub-title {
  text-align: center;
}
.title-item {
  display: inline-block;
  padding: 0rpx 20rpx;
  font-size:28rpx;
  height: 90rpx;
  line-height: 90rpx;


}
.infoUser  .sex{
  width: 28rpx;
  height: 28rpx;
  margin-left: 10rpx;

}
.nav-container {
  display: flex;
  flex-direction: row;
}
.active{
  color: #fff;
position: relative;
font-size: 32rpx;
font-weight: bold;

}
.active::after{
content: '';
height: 6rpx;
width: 48rpx;
background:#fff;

position: absolute;
border-radius: 12rpx;
left: 50%;
bottom: 14rpx;
margin-left: -24rpx;
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
  color: transparent;
}
.commonFix{
  position: fixed;
  bottom: 0;
  background: #fff;
  z-index: 111111;
  width: 100%;
}


.hotTiltle1{

    font-size: 32rpx;
color: #000;
overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 1;
-webkit-box-orient: vertical;

}
.hotTiltle{
  width: 710rpx; display: flex; flex-direction: column;justify-content: center;
   
}
.shouquan{
  width: 700rpx; height: 90rpx; color: #fff; background: linear-gradient(to right,#926cfe,#029bdf); border-radius: 6rpx; line-height: 90rpx; text-align: center; margin:40rpx auto
}
.commentWrapper{
  font-size: 28rpx;
color: #333;
overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 5;
-webkit-box-orient: vertical;

}
.topicCommonVipBox{
  display: flex;
align-items: center;
font-size: 24rpx;
color: #999;
margin-top: 6rpx
}
.topicCommonVip{
color: #e9308e;
font-size: 24rpx;
border-radius: 0 0 8rpx 8rpx;
background: #fff;
padding: 0;
padding-right: 10rpx;
}
.searchWrapper{
background: #EEE;
margin: 5px 10px;
display: flex;
align-items: center;
border-radius: 80rpx;

}
.searchWrapper input{
  background: #EEE;
height: 70rpx;
line-height: 70rpx;
padding: 0;
padding-left: 20rpx;
border-radius: 60rpx;
flex: 1
}
.searchWrapper image{
width: 32rpx;
flex: 0 0 32rpx;
margin-left: 20rpx;
height: 32rpx;
}

.topBox{
  position: fixed;
top: -2px;
width: 100%;
z-index: 111;
background:#FFF;
padding-top: 10rpx
}
.contentWrapper{
  border-top:100rpx solid #FFF;
}

.today_hot{
  display: flex;
  flex-direction: column;
  font-size: 32rpx;
  color: #000;
}
.today_hot_title{
 display: flex;
flex-direction: row;
justify-content: space-between;
padding: 24rpx 20rpx 8rpx;
font-size: 30rpx;

}
.today_hot_title .icon{
  font-size: 24rpx;
  color: #999;
}
.today_hot_list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding:0 24rpx 20rpx;
  flex-wrap: wrap;
}
.today_hot_list>view{
  width: 350rpx;
}
.today_hot_list .hot_list{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.today_hot_list .icon{
  width:28rpx;
  height:28rpx;
  border-radius:6rpx;
  margin-right:10rpx;
  font-size:20rpx;
  color:#fff;
  text-align:center;
  line-height:28rpx;

}
.today_hot_list .icon0{
  background:#fb7773;
}
.today_hot_list .icon1{
  background:#fb975c;
}
.today_hot_list .icon2{
  background:#f5ba5e;
}
.today_hot_list .icon_gray{
  background: #ccc;
}
.today_hot_list .content{
  width: 294rpx;
  padding:10rpx 0;
  font-size: 30rpx;
  display: flex;
}
.today_hot_list .content>view{
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.icon_new{
  width:54rpx;
  height:24rpx;
  background:-webkit-linear-gradient(top,#f6787b,#f34f4d);
  border-radius:12rpx 12rpx 12rpx 0;
  line-height:19rpx;
  color:#fff;
  font-size:24rpx;
  text-align:center;
  margin-top:-8rpx;
}
.searcList{
  display: flex;
  flex-wrap: wrap;
  width: 710rpx;
  margin: 0 auto;
  
}
.searcList view{
  font-size: 24rpx;
padding: 0 20rpx;
border-radius: 28rpx;
background: #eee;
margin:0 20rpx 20rpx 0rpx;
height: 60rpx;
line-height: 60rpx;
}