<view>
    <view>
        <textarea style="padding: 20rpx;" bindinput="bindinputChange" placeholder="表达一下您的想法" ></textarea>
        <view bindtap="goRelease" class="release">
            发表
        </view>
    </view>
    <view class="mask" wx:if="{{mask}}"></view>
</view>